<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Smoothie Rocks! Mix it up.</title>

    <!-- start: Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- end: Mobile Specific -->


    <!-- start: CSS -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/style.min.css" rel="stylesheet">
    <link href="/assets/css/retina.min.css" rel="stylesheet">
    <!-- end: CSS -->


    <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>

    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="/assets/js/respond.min.js"></script>
    <script src="/assets/css/ie6-8.css"></script>

    <![endif]-->

    <!-- start: Favicon and Touch Icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/assets/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/ico/favicon.png">
    <!-- end: Favicon and Touch Icons -->

    <script src="/javascripts/knockout-3.2.0.js"> </script>
    <script src="/javascripts/core.js"></script>

</head>

<body>
<header class="navbar">
    <div class="container">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".sidebar-nav.nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a id="main-menu-toggle" class="hidden-xs open"><i class="fa fa-bars"></i></a>
        <a class="navbar-brand col-lg-2 col-sm-1 col-xs-12" href="index.html"><span>Smoothie.Rocks</span></a>
        <!-- start: Header Menu -->
        <div class="nav-no-collapse header-nav">
            <ul class="nav navbar-nav pull-right">
                <li class="dropdown hidden-xs">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-warning"></i>
                    </a>
                    <ul class="dropdown-menu notifications">
                        <li class="dropdown-menu-title">
                            <span>You have 11 notifications</span>
                        </li>
                        <li>
                            <a href="#">
                                <span class="icon blue"><i class="fa fa-user"></i></span>
                                <span class="message">New user registration</span>
                                <span class="time">1 min</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="icon green"><i class="fa fa-comment"></i></span>
                                <span class="message">New comment</span>
                                <span class="time">7 min</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="icon green"><i class="fa fa-comment"></i></span>
                                <span class="message">New comment</span>
                                <span class="time">8 min</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="icon green"><i class="fa fa-comment"></i></span>
                                <span class="message">New comment</span>
                                <span class="time">16 min</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="icon blue"><i class="fa fa-user"></i></span>
                                <span class="message">New user registration</span>
                                <span class="time">36 min</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="icon yellow"><i class="fa fa-shopping-cart"></i></span>
                                <span class="message">2 items sold</span>
                                <span class="time">1 hour</span>
                            </a>
                        </li>
                        <li class="warning">
                            <a href="#">
                                <span class="icon red"><i class="fa fa-user"></i></span>
                                <span class="message">User deleted account</span>
                                <span class="time">2 hour</span>
                            </a>
                        </li>
                        <li class="warning">
                            <a href="#">
                                <span class="icon red"><i class="fa fa-shopping-cart"></i></span>
                                <span class="message">Transaction was canceled</span>
                                <span class="time">6 hour</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="icon green"><i class="fa fa-comment"></i></span>
                                <span class="message">New comment</span>
                                <span class="time">yesterday</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="icon blue"><i class="fa fa-user"></i></span>
                                <span class="message">New user registration</span>
                                <span class="time">yesterday</span>
                            </a>
                        </li>
                        <li class="dropdown-menu-sub-footer">
                            <a>View all notifications</a>
                        </li>
                    </ul>
                </li>
                <!-- start: Notifications Dropdown -->
                <li class="dropdown hidden-xs">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-tasks"></i>
                    </a>
                    <ul class="dropdown-menu tasks">
                        <li>
                            <span class="dropdown-menu-title">You have 17 tasks in progress</span>
                        </li>
                        <li>
                            <a href="#">
									<span class="header">
										<span class="title">iOS Development</span>
										<span class="percent">80%</span>
									</span>
                                <div class="taskProgress progressSlim progressBlue ui-progressbar ui-widget ui-widget-content ui-corner-all" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="80">80<div class="ui-progressbar-value ui-widget-header ui-corner-left" style="width: 80%;"></div></div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
									<span class="header">
										<span class="title">Android Development</span>
										<span class="percent">47%</span>
									</span>
                                <div class="taskProgress progressSlim progressYellow ui-progressbar ui-widget ui-widget-content ui-corner-all" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="47">47<div class="ui-progressbar-value ui-widget-header ui-corner-left" style="width: 47%;"></div></div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
									<span class="header">
										<span class="title">Django Project For Google</span>
										<span class="percent">32%</span>
									</span>
                                <div class="taskProgress progressSlim progressRed ui-progressbar ui-widget ui-widget-content ui-corner-all" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="32">32<div class="ui-progressbar-value ui-widget-header ui-corner-left" style="width: 32%;"></div></div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
									<span class="header">
										<span class="title">SEO for new sites</span>
										<span class="percent">63%</span>
									</span>
                                <div class="taskProgress progressSlim progressGreen ui-progressbar ui-widget ui-widget-content ui-corner-all" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="63">63<div class="ui-progressbar-value ui-widget-header ui-corner-left" style="width: 63%;"></div></div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
									<span class="header">
										<span class="title">New blog posts</span>
										<span class="percent">80%</span>
									</span>
                                <div class="taskProgress progressSlim progressPink ui-progressbar ui-widget ui-widget-content ui-corner-all" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="80">80<div class="ui-progressbar-value ui-widget-header ui-corner-left" style="width: 80%;"></div></div>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-menu-sub-footer">View all tasks</a>
                        </li>
                    </ul>
                </li>
                <!-- end: Notifications Dropdown -->
                <!-- start: Message Dropdown -->
                <li class="dropdown hidden-xs">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-envelope"></i>
                    </a>
                    <ul class="dropdown-menu messages">
                        <li>
                            <span class="dropdown-menu-title">You have 9 messages</span>
                        </li>
                        <li>
                            <a href="#">
                                <span class="avatar"><img src="assets/img/avatar.jpg" alt="Avatar"></span>
									<span class="header">
										<span class="from">
									    	Łukasz Holeczek
									     </span>
										<span class="time">
									    	6 min
									    </span>
									</span>
                                    <span class="message">
                                        Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
                                    </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="avatar"><img src="assets/img/avatar2.jpg" alt="Avatar"></span>
									<span class="header">
										<span class="from">
									    	Megan Abott
									     </span>
										<span class="time">
									    	56 min
									    </span>
									</span>
                                    <span class="message">
                                        Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
                                    </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="avatar"><img src="assets/img/avatar3.jpg" alt="Avatar"></span>
									<span class="header">
										<span class="from">
									    	Kate Ross
									     </span>
										<span class="time">
									    	3 hours
									    </span>
									</span>
                                    <span class="message">
                                        Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
                                    </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="avatar"><img src="assets/img/avatar4.jpg" alt="Avatar"></span>
									<span class="header">
										<span class="from">
									    	Julie Blank
									     </span>
										<span class="time">
									    	yesterday
									    </span>
									</span>
                                    <span class="message">
                                        Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
                                    </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="avatar"><img src="assets/img/avatar5.jpg" alt="Avatar"></span>
									<span class="header">
										<span class="from">
									    	Jane Sanders
									     </span>
										<span class="time">
									    	Jul 25, 2012
									    </span>
									</span>
                                    <span class="message">
                                        Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
                                    </span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-menu-sub-footer">View all messages</a>
                        </li>
                    </ul>
                </li>
                <!-- end: Message Dropdown -->
                <li>
                    <a class="btn" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                </li>
                <!-- start: User Dropdown -->
                <li class="dropdown">
                    <a class="btn account dropdown-toggle" data-toggle="dropdown" href="#">
                        <div class="avatar"><img src="assets/img/avatar.jpg" alt="Avatar"></div>
                        <div class="user">
                            <span class="hello">Welcome!</span>
                            <span class="name">Łukasz Holeczek</span>
                        </div>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-menu-title">

                        </li>
                        <li><a href="#"><i class="fa fa-user"></i> Profile</a></li>
                        <li><a href="#"><i class="fa fa-cog"></i> Settings</a></li>
                        <li><a href="#"><i class="fa fa-envelope"></i> Messages</a></li>
                        <li><a href="login.html"><i class="fa fa-off"></i> Logout</a></li>
                    </ul>
                </li>
                <!-- end: User Dropdown -->
            </ul>
        </div>
        <!-- end: Header Menu -->

    </div>
</header>
<script>
    function imagename(name){
        var img = "/images/official_$NAME.png";
        return img.replace("$NAME", name);
    }
    function subdomainname(name){
        var host=".<%=HOST%>";
        return name+host;
    }
</script>

    <div class="container">
        <div id="sidebar-left" class="col-lg-2 col-sm-1"></div>

        <div id="content" class="col-lg-10 col-sm-11">







            <dns_manager></dns_manager>


            <template  id="dns_manager_template">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="box">
                            <div class="box-header" data-original-title="">
                                <h2><i class="fa fa-user"></i><span class="break"></span>DNS Manager</h2>

                                <div class="box-icon">
                                    <a href="#" class="btn-save">
                                        <button type="button" class="btn btn-success btn-next"> Save </button>
                                    </a>
                                </div>
                            </div>
                        <div class="box-content" style="min-height:120px">
<div class="col-sm-4">
    <h3>Point your sites A Name DNS to 104.236.102.244</h3>
</div>
<div class="col-sm-4">
    <h3>Point your sites A Name DNS to 104.236.102.244</h3>
</div>
<div class="col-sm-4">
    <h3>Point your sites A Name DNS to 104.236.102.244</h3>
</div>
                        </div>
                    </div>
                </div>
            </template>



          <add_container_form > </add_container_form>

           <template  id="add_container_form_template">
             <div class="row">
             <div class="col-lg-12">
                  <div class="box">
                      <div class="box-header" data-original-title="">
                          <h2><i class="fa fa-user"></i><span class="break"></span>Add Service</h2>

                          <div class="box-icon">
                              <a href="#">
                                  <button type="button" class="btn btn-success btn-next" data-bind="click: addServiceShow">
                                      New Service
                                  </button>
                              </a>

                              <a href="#" class="btn-save">
                                  <button type="button" class="btn btn-success btn-next" data-bind="click: saveService"> Save </button>
                              </a>
                          </div>
                      </div>
                    <div class="box-content" style="min-height:120px" data-bind="visible: visible">
                            <div class="form-group">
                                <label class="control-label" for="appendedInput">Appended text</label>
                                <div class="controls">

                                    <div class="input-group">
                                             <span class="input-group-addon" data-bind="css:{red: !subvalid(), green: subvalid() }">
                                                    <i class="fa"  data-bind="css:{'fa-times-circle': !subvalid(), 'fa-check-circle': subvalid() }" ></i>
                                              </span>
                                        <input id="appendedInput" class="form-control" size="16" type="text" name="subdomain" data-bind="value:subdomain">
                                        <span class="input-group-addon">.smoothie.rocks</span>
                                    </div>
                                    <span class="help-block">Where to access the default site or service. NO SPACES OR SPECIAL CHARACTERS</span>
                                </div>
                            </div>
                        <div class="form-group" style="display:table">

                        <div  data-bind="foreach: {data: services, as:'service'} ">
                        <div class="col-md-4">
                        <div class="preview-pane">

                            <a data-bind="click: $parent.selectService">
                                <img data-bind="attr:{'src' : imagename(service.name) }" class="img-responsive img-centered" alt="" />
                            </a>

                        </div>
                        </div>
                         </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Options</label>
                            <div class="controls" data-bind="foreach: { data: options, as:'option' }">
                                <label class="checkbox inline">
                                    <input type="checkbox" id="inlineCheckbox1" data-bind="attr:{value: option.install},checked: $parent.opts">
                                    <span data-bind="text: option.name" ></span>
                                </label>
                            </div>
                        </div>

                      </div>
                        </div>
                    </div>
                  </div>
</template>

<container_manager ></container_manager>

<template id="container_manager_template">
<div class="row">
    <div class="col-lg-12">
        <div class="box">
            <div class="box-header" data-original-title="">
                <h2><i class="fa fa-user"></i><span class="break"></span>Services</h2>
                <div class="box-icon">
                    <a href="#" class="btn-setting"><i class="fa fa-wrench"></i></a>
                    <a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                    <a href="#" class="btn-close"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="box-content">
                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline" role="grid">
                        <div class="row">
                            <div class="col-lg-6">
                                <div id="DataTables_Table_0_length" class="dataTables_length">
                                    <label><select size="1" name="DataTables_Table_0_length" aria-controls="DataTables_Table_0">
                                            <option value="10" selected="selected">10</option><option value="25">25</option>
                                            <option value="50">50</option><option value="100">100</option></select> records per page</label>
                                </div></div><div class="col-lg-6"><div class="dataTables_filter" id="DataTables_Table_0_filter">
                                    <label>Search: <input type="text" aria-controls="DataTables_Table_0"></label></div></div></div>

                        <table class="table table-striped table-bordered bootstrap-datatable datatable dataTable" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
                            <thead>
                            <tr role="row">
                                <th role="columnheader">URL</th>
                                <th role="columnheader">Service</th>
                                <th role="columnheader">Params</th>
                                <th role="columnheader">Actions</th>
                            </tr>
                            </thead>
                            <tbody role="alert" aria-live="polite" aria-relevant="all" data-bind="foreach: {data: containers, as:'item'} ">
                            <tr  aria-live="polite" aria-relevant="all" >
                                <td data-bind="text: subdomainname(item.subdomain)"></td>
                                <td data-bind="text: item.service"></td>
                                <td data-bind="text: item.opts"></td>
                                <td class="center ">
                                    <a class="btn btn-success" data-bind="attr:{href: 'http://'+subdomainname(item.subdomain)}" target="_blank">
                                        <i class="fa fa-search-plus "></i>
                                    </a>
                                    <a class="btn btn-info">
                                        <i class="fa fa-edit "></i>
                                    </a>
                                    <a class="btn btn-danger" data-bind="click:$parent.trashService">
                                        <i class="fa fa-trash-o "></i>
                                    </a>
                                </td>
                            </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </template>

        </div>
    </div>
</div>


<!-- start: JavaScript-->
<!--[if !IE]>-->

<script src="/assets/js/jquery-2.1.0.min.js"></script>

<!--<![endif]-->

<!--[if IE]>

<script src="/assets/js/jquery-1.11.0.min.js"></script>

<![endif]-->

<!--[if !IE]>-->

<script type="text/javascript">
    window.jQuery || document.write("<script src='/assets/js/jquery-2.1.0.min.js'>"+"<"+"/script>");
</script>

<!--<![endif]-->

<!--[if IE]>

<script type="text/javascript">
    window.jQuery || document.write("<script src='/assets/js/jquery-1.11.0.min.js'>"+"<"+"/script>");
</script>

<![endif]-->
<script src="/assets/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>




<!-- page scripts -->
<script src="/assets/js/jquery-ui-1.10.3.custom.min.js"></script>
<script src="/assets/js/jquery.ui.touch-punch.min.js"></script>
<script src="/assets/js/jquery.sparkline.min.js"></script>
<script src="/assets/js/fullcalendar.min.js"></script>
<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="/assets/js/excanvas.min.js"></script><![endif]-->
<script src="/assets/js/jquery.flot.min.js"></script>
<script src="/assets/js/jquery.flot.pie.min.js"></script>
<script src="/assets/js/jquery.flot.stack.min.js"></script>
<script src="/assets/js/jquery.flot.resize.min.js"></script>
<script src="/assets/js/jquery.flot.time.min.js"></script>
<script src="/assets/js/jquery.autosize.min.js"></script>
<script src="/assets/js/jquery.placeholder.min.js"></script>

<!-- theme scripts -->
<script src="/assets/js/custom.min.js"></script>
<script src="/assets/js/core.min.js"></script>

<!-- inline scripts related to this page -->
<script src="/assets/js/pages/index.js"></script>

<!-- end: JavaScript-->
</body>
<script>

    $(document).ready(function(){

        var s = new Smoothie();

        ko.components.register("add_container_form", {
            viewModel: {instance: s.addContainerManager},
            template:  { element: "add_container_form_template"}
        });

        ko.components.register("container_manager", {
            viewModel: {instance: s.containerManager},
            template:  { element: "container_manager_template"}
        });

        ko.components.register("dns_manager", {
            viewModel: {instance: s.dnsManager},
            template:  { element: "dns_manager_template"}
        });

        ko.applyBindings();

    });
</script>

</html>
