<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Smoothie Rocks! Mix it up.</title>

    <!-- start: Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- end: Mobile Specific -->


    <!-- start: CSS -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/style.min.css" rel="stylesheet">
    <link href="/assets/css/retina.min.css" rel="stylesheet">
    <!-- end: CSS -->


    <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>

    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="/assets/js/respond.min.js"></script>
    <script src="/assets/css/ie6-8.css"></script>

    <![endif]-->

    <!-- start: Favicon and Touch Icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/assets/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/ico/favicon.png">
    <!-- end: Favicon and Touch Icons -->

    <script src="/javascripts/knockout-3.2.0.js"> </script>
    <script src="/javascripts/core.js"></script>

</head>

<body>
<header class="navbar">
    <div class="container">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".sidebar-nav.nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand col-lg-2 col-sm-1 col-xs-12" href="/"><span>Smoothie.Rocks</span></a>
    </div>
</header>
<script>
    function imagename(name){
        var img = "/images/official_$NAME.png";
        return img.replace("$NAME", name);
    }
    function subdomainname(name){
        var host=".<%=HOST%>";
        return name+host;
    }
</script>

    <div class="container">

        <div id="content" class="col-lg-12 col-sm-12">


            <edit_container></edit_container>


            <template id="edit_container_template">
                <div class="row" data-bind="with:service">
                    <div class="col-lg-12">
                        <div class="box">
                            <div class="box-header" data-original-title="">
                                <h2><i class="fa fa-user"></i><span class="break"></span>Edit Service</h2>

                                <div class="box-icon">
                                    <a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                                    <a href="#" class="btn-close"><i class="fa fa-times"></i></a>
                                </div>
                            </div>
                            <!-- ko if: service -->
                        <div class="box-content" style="min-height:120px">
                            <div class="row">

                                <div class="col-sm-12" style="margin:0px 0px 10px 0px">
                                    <!-- ko if: status()=="running" -->
                                    <button class="btn btn-large btn-warning" data-bind="click: pause">Pause</button>
                                    <button class="btn btn-large btn-warning" data-bind="click: stop">Stop</button>
                                    <!-- /ko -->

                                    <!-- ko if: status()=="paused" -->
                                    <button class="btn btn-large btn-success" data-bind="click: unpause">Unpause
                                    </button>
                                    <!-- /ko -->

                                    <!-- ko if: status()=="stopped" -->
                                    <button class="btn btn-large btn-success" data-bind="click: start">Start</button>
                                    <!-- /ko -->
                                    <button class="btn btn-large btn-danger" data-bind="click: destroy">Destroy</button>
                                    <!--<button class="btn btn-large btn-success" data-bind="click: commit">Commit</button>-->
                                </div>

                                <div class="col-sm-4 ">

                                    <div class="form-group">
                                        <div class="controls">
                                            <div class="input-group col-sm-12">
                                                <span class="input-group-addon">Status: </span>
                                                <input type="text" class="form-control text-right" disabled
                                                       data-bind="attr:{value:status}, value:status">
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <div class="controls">
                                            <div class="input-group col-sm-12">
                                                <span class="input-group-addon">ID: </span>
                                                <input type="text" class="form-control text-right" disabled
                                                       data-bind="attr:{value:_id}, value:_id">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">

                                        <div class="controls">
                                            <div class="input-group col-sm-12">
                                                <span class="input-group-addon">Subdomain: </span>
                                                <input type="text" class="form-control text-right"
                                                       data-bind="attr:{value:subdomain}, value:subdomain" disabled>
                                                <!--<span class="input-group-addon"><a href="#"><i class="fa fa-cog"-->
                                                <!--data-bind="click: $parent.toggle"></i></a></span>-->
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">

                                        <div class="controls">
                                            <div class="input-group col-sm-12">
                                                <span class="input-group-addon">Domain: </span>
                                                <input type="text" class="form-control text-right"
                                                       data-bind="attr:{value:domain}, value:domain" disabled>
                                                <span class="input-group-addon"><a href="#"><i class="fa fa-cog"
                                                                                               data-bind="click: $parent.toggle"></i></a></span>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-group">

                                        <div class="controls">
                                            <div class="input-group col-sm-12">
                                                <span class="input-group-addon">Service: </span>
                                                <input type="text" class="form-control text-right" disabled
                                                       data-bind="attr:{value:service}, value: service">
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <div class="controls">
                                            <div class="input-group col-sm-12">
                                                <span class="input-group-addon">Options: </span>
                                                <input type="text" class="form-control text-right" disabled
                                                       data-bind="attr:{value:opts}, value: opts">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="actions">
                                        <button class="btn btn-small btn-success pull-right" data-bind="click: save">
                                            Save
                                        </button>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /ko -->
                        </div>
                    </div>
                </div>
            </template>



          <add_container_form > </add_container_form>

           <template  id="add_container_form_template">
             <div class="row">
             <div class="col-lg-12">
                  <div class="box">
                      <div class="box-header" data-original-title="">
                          <h2><i class="fa fa-user"></i><span class="break"></span>Add Service</h2>

                          <div class="box-icon">
                              <a href="#" class="btn-small btn-success btn">
                                  <button type="button" class="btn btn-success btn-small"
                                          data-bind="click: addServiceShow">
                                      New Service
                                  </button>
                              </a>

                              <a href="#" class="btn btn-success btn-small">
                                  <button type="button" class="btn btn-success btn-small"
                                          data-bind="click: saveService"> Save
                                  </button>
                              </a>
                          </div>
                      </div>
                    <div class="box-content" style="min-height:120px" data-bind="visible: visible">
                            <div class="form-group">
                                <label class="control-label" for="appendedInput">Subdomain</label>
                                <div class="controls">

                                    <div class="input-group">
                                             <span class="input-group-addon" data-bind="css:{red: !subvalid(), green: subvalid() }">
                                                    <i class="fa"  data-bind="css:{'fa-times-circle': !subvalid(), 'fa-check-circle': subvalid() }" ></i>
                                              </span>
                                        <input id="appendedInput" class="form-control" size="16" type="text" name="subdomain" data-bind="value:subdomain">
                                        <span class="input-group-addon">.smoothie.rocks</span>
                                    </div>
                                    <span class="help-block">Where to access the default site or service. NO SPACES OR SPECIAL CHARACTERS</span>
                                </div>
                            </div>
                        <div class="form-group" style="display:table">

                        <div  data-bind="foreach: {data: services, as:'service'} ">
                        <div class="col-md-4">
                        <div class="preview-pane">

                            <a data-bind="click: $parent.selectService">
                                <img data-bind="attr:{'src' : imagename(service.name) }" class="img-responsive img-centered" alt="" />
                            </a>

                        </div>
                        </div>
                         </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Options</label>
                            <div class="controls" data-bind="foreach: { data: options, as:'option' }">
                                <label class="checkbox inline">
                                    <input type="checkbox" id="inlineCheckbox1" data-bind="attr:{value: option.install},checked: $parent.opts">
                                    <span data-bind="text: option.name" ></span>
                                </label>
                            </div>
                        </div>

                      </div>
                        </div>
                    </div>
                  </div>
</template>

<container_manager ></container_manager>

<template id="container_manager_template">
<div class="row">
    <div class="col-lg-12">
        <div class="box">
            <div class="box-header" data-original-title="">
                <h2><i class="fa fa-user"></i><span class="break"></span>Services</h2>
                <div class="box-icon">
                    <a href="#" class="btn-setting"><i class="fa fa-wrench"></i></a>
                    <a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                    <a href="#" class="btn-close"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="box-content">
                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline" role="grid">
                        <div class="row">
                            <div class="col-lg-6">
                                <div id="DataTables_Table_0_length" class="dataTables_length">
                                    <label><select size="1" name="DataTables_Table_0_length" aria-controls="DataTables_Table_0">
                                            <option value="10" selected="selected">10</option><option value="25">25</option>
                                            <option value="50">50</option><option value="100">100</option></select> records per page</label>
                                </div></div><div class="col-lg-6"><div class="dataTables_filter" id="DataTables_Table_0_filter">
                                    <label>Search: <input type="text" aria-controls="DataTables_Table_0"></label></div></div></div>

                        <table class="table table-striped table-bordered bootstrap-datatable datatable dataTable" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
                            <thead>
                            <tr role="row">
                                <th role="columnheader">Status</th>
                                <th role="columnheader">URL</th>
                                <th role="columnheader">Service</th>
                                <th role="columnheader">Params</th>
                                <th role="columnheader">Actions</th>
                            </tr>
                            </thead>
                            <tbody role="alert" aria-live="polite" aria-relevant="all" data-bind="foreach: {data: containers, as:'item'} ">
                            <tr  aria-live="polite" aria-relevant="all" >
                                <td><span class="label"
                                          data-bind="text: item.status, css:{'label-success': item.status=='running', 'label-warning': item.status=='paused', 'label-danger': item.status=='stopped' } "></span>
                                </td>
                                <td data-bind="text: subdomainname(item.subdomain) + domain"></td>
                                <td data-bind="text: item.service"></td>
                                <td data-bind="text: item.opts"></td>
                                <td class="center ">
                                    <a class="btn btn-success" data-bind="attr:{href: 'http://'+subdomainname(item.subdomain)}" target="_blank">
                                        <i class="fa fa-search-plus "></i>
                                    </a>
                                    <a class="btn btn-info" data-bind="click:$parent.edit" href="#">
                                        <i class="fa fa-edit "></i>
                                    </a>
                                    <!--<a class="btn btn-danger" data-bind="click:$parent.trashService" href="#">-->
                                    <!--<i class="fa fa-trash-o "></i>-->
                                    <!--</a>-->
                                </td>
                            </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </template>

        </div>
    </div>
</div>


<!-- start: JavaScript-->
<!--[if !IE]>-->

<script src="/assets/js/jquery-2.1.0.min.js"></script>

<!--<![endif]-->

<!--[if IE]>

<script src="/assets/js/jquery-1.11.0.min.js"></script>

<![endif]-->

<!--[if !IE]>-->

<script type="text/javascript">
    window.jQuery || document.write("<script src='/assets/js/jquery-2.1.0.min.js'>"+"<"+"/script>");
</script>

<!--<![endif]-->

<!--[if IE]>

<script type="text/javascript">
    window.jQuery || document.write("<script src='/assets/js/jquery-1.11.0.min.js'>"+"<"+"/script>");
</script>

<![endif]-->
<script src="/assets/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>




<!-- page scripts -->
<script src="/assets/js/jquery-ui-1.10.3.custom.min.js"></script>
<script src="/assets/js/jquery.ui.touch-punch.min.js"></script>
<script src="/assets/js/jquery.sparkline.min.js"></script>
<script src="/assets/js/fullcalendar.min.js"></script>
<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="/assets/js/excanvas.min.js"></script><![endif]-->
<script src="/assets/js/jquery.flot.min.js"></script>
<script src="/assets/js/jquery.flot.pie.min.js"></script>
<script src="/assets/js/jquery.flot.stack.min.js"></script>
<script src="/assets/js/jquery.flot.resize.min.js"></script>
<script src="/assets/js/jquery.flot.time.min.js"></script>
<script src="/assets/js/jquery.autosize.min.js"></script>
<script src="/assets/js/jquery.placeholder.min.js"></script>

<!-- theme scripts -->
<script src="/assets/js/custom.min.js"></script>
<script src="/assets/js/core.min.js"></script>

<!-- inline scripts related to this page -->
<script src="/assets/js/pages/index.js"></script>

<!-- end: JavaScript-->
</body>
<script>

    $(document).ready(function(){

        var s = new Smoothie();

        ko.components.register("add_container_form", {
            viewModel: {instance: s.addContainer},
            template:  { element: "add_container_form_template"}
        });

        ko.components.register("container_manager", {
            viewModel: {instance: s.listContainers},
            template:  { element: "container_manager_template"}
        });

        ko.components.register("edit_container", {
            viewModel: {instance: s.editContainer},
            template: {element: "edit_container_template"}
        });

        ko.applyBindings();

    });
</script>

</html>
